* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}


.container {


    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.header {
    background-color: gray;
    color: #fff;
}

.header h1 {
    font-size: x-large;
    font-style: bold;

}

.header .container {
    display: flex;
    align-items: center;
}