* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(203, 203, 203);
}


.container {

    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background-color: rgb(124, 124, 124);
    color: #fff;
}

.navbar .container {

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.navbar a:hover {
    color: lightgray;
}

.header {
    background-color: rgb(179, 179, 179);
    color: black;
}

.main .container {
    display: flex;
    min-height: 400px;
}

.dummytext {
    max-width: 900px;
    margin-right: 30px;
}

.sidebar {
    max-width: 200px;
}

h1 {
    font-size: x-large;
    font-style: bold;

}

section {
    text-align: justify;
}

.header .container {

    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header .container a {
    text-decoration: none;
}

footer {
    background-color: rgb(124, 124, 124);
}

.footer .container {
    padding-top: 30px;
    min-height: 100px;
}

@media (max-width: 768px) {
    .navbar .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .navbar .container ul {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .main .container {
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
    }


}